<tr>
  <td class="quality"><%= line_item.quantity %> x </td>
  <td class="product name"><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
