<div class="card-header" style="padding: 50px 50px 50px 50px ">
  <section class="">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
    <div class="single text-center">
      <h2>Subscribe to our Newsletter</h2>
    <form method="POST" action="<%= subscribe_newsletters_path %>" class="input-group ms-1 pt-2">
       <p class="col-3"></p>
       <input type="email" class="form-control col-md-5 mb-3 mb-md-2" placeholder="Enter your email">
       <span class="input-group-btn">
       <button type="submit" class="btn btn-theme btn-primary col-sm-12 ml-md-2">Subscribe</button>
       </span>
    </form>
  </div>
  </div>
  </div>
  </section>
  <dir class="container py-5">
    <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2019-2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Explore</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">About Us</a></li>
        <li><a class="text-muted" href="#">Sitemap</a></li>
        <li><a class="text-muted" href="#">Bookmarks</a></li>
        <li><a class="text-muted" href="#">Signin/Join</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Customer Service</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Help Center</a></li>
        <li><a class="text-muted" href="#">Returns</a></li>
        <li><a class="text-muted" href="#">Contact Us</a></li>
        <li><a class="text-muted" href="#">Store Pickup</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Policy</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Return Policy</a></li>
        <li><a class="text-muted" href="#">Term Of Use</a></li>
        <li><a class="text-muted" href="#">Security</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Categories</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Action</a></li>
        <li><a class="text-muted" href="#">Comedy</a></li>
        <li><a class="text-muted" href="#">Drama</a></li>
        <li><a class="text-muted" href="#">Kids</a></li>
        <li><a class="text-muted" href="#">Romantic Comedy</a></li>
        <li><a class="text-muted" href="#">Horror</a></li>
      </ul>
    </div>
  </div>
  </dir>
</div>
