<ul class="nav flex-column py-1">
  <li class="nav-item">
    <a class="nav-link active" href="<%= store_index_path %>">
      Products <span class="sr-only">(current)</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="" data-target="#category">
    <a class="nav-link" href="">Category</a>
    <ul class="sub-menu" id="category">
      <% Product.categories.keys.each do |category| %>
        <li class="nav-item">
          <a class="nav-link" href="<%= store_index_path(category: category) %>">
            <%= category %>
          </a>
        </li>
      <% end -%>
    </ul>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      Contact Us
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      About Us
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      Return Policy
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      Term Of Use
    </a>
  </li>
</ul>
