<ul class="nav flex-column py-3">
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <span data-feather="home"></span>
      Products <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file"></span>
      Categories
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="shopping-cart"></span>
      Contact Us
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="users"></span>
      About Us
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="bar-chart-2"></span>
      Return Policy
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="layers"></span>
      Term Of Use
    </a>
  </li>
</ul>
